{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="centre">
        <h1>S'enregistrer</h1>
        <div>
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                <div class="form-row">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(registrationForm.nickname) }}
                    {{ form_widget(registrationForm.nickname, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(registrationForm.plainPassword, 'Password') }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-checkbox'}}) }}
                </div>

                <button type="submit" class="btn-blue">S'enregistrer</button>
            {{ form_end(registrationForm) }}
        </div>
    </section>
{% endblock %}
