{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

<h2>Liste de toutes les sessions programmées :</h2>

<table>
    <thead>
    <tr>
        <th>Session</th>
        <th>Nombre de places</th>
        <th>Inscrits</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Formateur</th>
        {# <th>Delete</th> #}
    </tr>
    </thead>
    <tbody>
    {% for session in sessions %}
        <tr>
            <td>
                <a href="{{ path('app_showSession', {'id': session.id}) }}">{{ session }}</a>
            </td>
            <td>{{ session.nbPlace }}</td>
            <td>{{ session.sessionUser|length }}/{{ session.nbPlace }}</td>
            <td>{{ session.startSession|date('d-m-Y') }}</td>
            <td>{{ session.endSession|date('d-m-Y') }}</td>
            <td>
                {% if session.formateur is defined %}
                {# {{ dump(session.formateur.id) }} #}
                    <a href="{{ path('app_formateur', {'id' : session.formateur.id}) }}">{{ session.formateur }}</a>
                {% else %}
                    N/A
                {% endif %}
            </td>
            {# <td><a href="{{ path('app_session', {'id': session.id}) }}">xx</a></td> #}
                    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Ajouter une session :</h2>
<a href="{{ path('ajout_session') }}">Ajouter une session</a><br>

{% endblock %}
