{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

<h1>{{ session }} du {{ session.startSession|date('d-m-Y') }} au {{ session.endSession|date('d-m-Y') }}</h1>

<h2>Ajouter une session :</h2>
<a href="{{ path('edit_session', {'id': session.id}) }}">Modifier une session</a><br>

<h2>Modules abordés dans la session :</h2>
<table>
    <thead>
    </thead>
    <tbody>
    {% for prog in session.sessionProgramme %}
        <tr>
        <td>{{ prog.module.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Inscrits dans la session :</h2>
<table>
    <thead>
    </thead>
    <tbody>
    {% for user in session.sessionUser %}
        <tr>
        <td>{{ user }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Non inscrits dans la session :</h2>
<table>
    <thead>

    </thead>
    <tbody>
    {% for nonInscrit in nonInscrits %}
        <tr>
        <td>{{ nonInscrit }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Modules non inscrits dans la session :</h2>
<table>
    <thead>

    </thead>
    <tbody>
    {% for autreModule in autresModules %}
        <tr>
        <td>{{ autreModule }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
