{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

<h1> {{session}} </h1>

<h2> modules abordés dans la session :</h2>
{% for prog in session.sessionProgramme %}
    {{prog.module.name}}
    {# {{prog.programme.duration}} #}
{% endfor %}

<h2> inscrits dans la session :</h2>
{% for user in session.sessionUser %}
        {{ user }}
    {% endfor %}

<h2> non inscrits dans la session :</h2>
{% for nonInscrit in nonInscrits %}
    {{nonInscrit}}
{% endfor %}

<h2>modules non inscrits dans la session</h2>
{% for autreModule in autresModules %}
    {{autreModule}}
    
{% endfor %}
{% endblock %}
