<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>





        {# NAV BAR  #}
        <nav>
            <ul>
                {# {% if app.user %} #}
                <li><a href="{{ path('app_category') }}">Dashboard</a></li>
                <li><a href="{{ path('app_showListUser') }}">Liste des apprenants</a></li>
                <li><a href="{{ path('app_session') }}">Liste des sessions </a></li>
                <li><a href="{{ path('app_formation') }}">Liste des formations </a></li>

                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    <li><a href="{{ path('app_register') }}">S'enregistrer</a></li>
                {% endif %}
    
            {# {% if is_granted('ROLE_ADMIN') %}
                <a href="">Panneau d'administration</a>
            {% endif %} #}
            </ul>
        </nav>

        {% block body %}{% endblock %}

    </body>

    {% block javascripts %}
    {% endblock %}
</html>
