{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<h1> {{user}} </h1>

<p>
    Sexe : {{user.sex}} <br>
    Email : {{user.email}} <br>
    Numéro : {{user.phoneNumber}} <br>
    Ville : {{user.city}} <br>
    Date de naissance : {{user.birthday | date('d-m-Y')}} <br>
</p>

{% endblock %}
