{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<h1> {{user}} </h1>

<p>
    Sexe : {{user.sex}} <br>
    Email : {{user.email}} <br>
    Numéro : {{user.phoneNumber}} <br>
    Ville : {{user.city}} <br>
    Date de naissance : {{user.birthday | date('d-m-Y')}} <br>
</p>

<p> {% for session in user.sessions %}
        Vous êtes inscrits pour la formation : {{ session}} <br>
        La session dure du : {{ session.startSession | date('d-m-Y')}} au {{ session.endSession | date('d-m-Y')}} <br>
        Les modules auxquels vous participerez sont : <br>

        {% for prog in session.sessionProgramme %}
            {{prog.module}} ( {{prog.duration}} jour(s) ) <br>
        {% endfor %} <br>

    {% endfor %}
</p>

<h2>Modifier les informations de  {{ user }}</h2>
<a href="{{ path('edit_user', {'id': user.id}) }}">Modifier</a><br>

{% endblock %}
